$error-color: red;

.input-component {
  label {
    display: block;
  }
  input {
    display: block;
    width: 100%;
    background: $color-bg;
    border: 2px solid $color-bg;
    padding: 8px 16px 9px;
    border-radius: $border-radius-default;
    outline: none;
    &:focus {
      border-color: darken($color-bg, 4%);
    }
  }
  .error {
    color: $error-color;
  }
  &-error {
    input {
      border-color: $error-color;
    }
  }
}
