$error-color: red;

.input-component {
  input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
  }
  .error {
    color: $error-color;
  }
  &-error {
    input {
      border-color: $error-color;
    }
  }

  &.input-color-default {
    input {
      box-shadow: $box-shadow-light;
      &:focus {
        box-shadow: $box-shadow-light-focus;
      }
    }
  }

  &.input-color-gray {
    input {
      background: $color-light;
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
