$error-color: red;

.textarea-component {
  textarea {
    border: 1px solid #ccc;
  }
  .error {
    color: $error-color;
  }
  &-error {
    textarea {
      border-color: $error-color;
    }
  }

  &.textarea-color-default {
    textarea {
      box-shadow: $box-shadow-light;
      &:focus {
        box-shadow: $box-shadow-light-focus;
      }
    }
  }

  &.textarea-color-gray {
    textarea {
      background: $color-light;
      box-shadow: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
