// core
@import 'variables/index';
@import 'reset';
@import 'mixins';
@import 'utils';

// common components
@import "@/components/common/button";
@import "@/components/common/modal";
@import "@/components/common/input";
@import "@/components/common/textarea";

// common styles
body {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-normal;
  background: $color-bg;
  color: $color-text-regular;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-normal;
  &::-webkit-input-placeholder {
    color: $color-text-ghost;
  }
  &:-ms-input-placeholder {
    color: $color-text-ghost;
  }
  &::-ms-input-placeholder {
    color: $color-text-ghost;
  }
  &::placeholder {
    color: $color-text-ghost;
  }
}

h1, .h1 {
  font-size: $font-size-heading;
  line-height: $line-height-heading;
  font-weight: $font-weight-normal;
  margin: 0 auto;
}

.page {
  padding: 40px 0;
}

.wrapper {
  padding: 0 40px;
}

.buttons {
  .button-component {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
