// core
@import 'variables/index';
@import 'mixins';
@import 'extends';
@import 'reset';
@import 'utils';

// fonts
@include font-face('SF UI Dipslay', '~assets/fonts/sf_ui_display/SFUIDisplay-Medium', 400);
@include font-face('SF UI Dipslay', '~assets/fonts/sf_ui_display/SFUIDisplay-Semibold', 600);

// common styles
body {
  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-weight: $font-weight-normal;
  background: $color-bg;
  color: $color-text-regular;
}

::-webkit-input-placeholder { color: rgba($color-text-regular, .5); }
::-moz-placeholder { color: rgba($color-text-regular, .5); }
:-ms-input-placeholder { color: rgba($color-text-regular, .5); }

h1 {
  font-weight: $font-weight-semibold;
}

.h1 {
  font-size: $font-size-heading;
  line-height: $line-height-heading;
  font-weight: $font-weight-semibold;
}

.wrapper {
  padding: 0 32px;
}
