$checkbox-size: 20px;

div[class*="common-checkbox-component"] {
  input {
    width: $checkbox-size;
    height: $checkbox-size;
  }

  .box {
    border-radius: $border-radius-button;
    border-color: darken($color-bg, 4%);
  }

  &[type="simple"] {
    .box {
      width: $checkbox-size;
      height: $checkbox-size;
      border-radius: 50%;
      border: none;
      color: $color-text-white;
      background: rgba($color-dark, .12);
      margin: 0;
    }
  }
}
