$duration: .2s;
$function: ease;

$transition-default: all $duration $function;
$transition-page: $transition-default;
$transition-link: color $duration $function;
$transition-button: $transition-default;
$transition-card: box-shadow $duration $function;
$transition-label: background $duration $function, color $duration $function;
$transition-modal: all .15s ease;
$transition-file: background .15s ease;
