$duration: .2s;
$function: ease;

$transition-button: background $duration $function, color $duration $function, box-shadow $duration $function;
$transition-field: background $duration $function, box-shadow $duration $function;
$transition-card: background $duration $function, box-shadow $duration $function;
