// primary
$color-primary: #3F81ED;
$color-light: #f5f7f9;
$color-white: #FFF;

// text
$color-text-regular: #37455D;
$color-text-light: #777D86;
$color-text-ghost: rgba($color-text-light, .5);

// advanced
$color-bg: #ECEEF0;
