// primary
$color-primary: #317EF6;

$color-dark: #282C31;
$color-dark-highlight: #2F343A;

$color-content-bg: #fff;
$color-bg: #FAF9FC;
$color-bg-highlight: darken($color-bg, 3%);

$color-text-regular: #323232;
$color-text-light: #8C939F;
$color-text-white: #fff;
