$font-family-default: 'SF UI Display', Tahoma, Arial, sans-serif;
$font-family-secondary: '';

$font-size-default-value: 15; // for font size mixins in /assets/scss/mixins.scss

$font-size-h1: 21px;
$font-size-heading: 17px;
$font-size-default: #{$font-size-default-value}px;
$font-size-smaller: 14px;
$font-size-small: 13px;
$font-size-extrasmall: 11px;
$font-size-label: 10px;

$line-height-h1: 25px;
$line-height-heading: 23px;
$line-height-default: 20px;
$line-height-smaller: 17px;
$line-height-small: 15px;
$line-height-extrasmall: 13px;
$line-height-label: 12px;

$font-weight-normal: 400;
$font-weight-semibold: 600;
