$border-radius-default: 3px;

$box-shadow-light: 0 2px 4px -1px rgba(#000, .05);
$box-shadow-light-hover: 0 2px 6px -1px rgba(#000, .1);
$box-shadow-light-focus: 0 3px 12px -1px rgba(#000, .15);
$box-shadow-deep: 0 5px 20px -6px rgba(#000, .1);
