// layout
$header-height: 60px;
$column-narrow: 250px;
$column-default: 400px;

// border radius values
$border-radius-default: 7px;
$border-radius-small: 4px;

// box-shadow values
$box-shadow-default: 0 10px 18px 0 #EDEDF5;
$box-shadow-default-hover: 0 10px 18px 0 darken(#EDEDF5, 3%);

$box-shadow-black: 0 10px 18px 0 rgba(0, 0, 0, 0.18);
$box-shadow-ghost: 0 8px 12px -1px rgba(0, 0, 0, 0.08);
